@model AppSocialTour.Models.Historia

@{
    ViewData["Title"] = "BorrarH";
}
<body class="pantallaHistoria">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Borrar la Historia</h1>
        <hr /> 
        <h5 class="text-center">¿Quieres Eliminar esta carta Historica?</h5>

        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Historiador)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Historiador)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Desarrollo)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Desarrollo)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.PaginasReferencia)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.PaginasReferencia)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.EmailHistoriador)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.EmailHistoriador)
        </dd>
    </dl>
    
    <form asp-action="BorrarH">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="History" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>