<body class="pantallaHistoria">
    <div class="jumbotron bg-dark">
    <h1 class="display-3 text-white">Hello, world!</h1>
        <hr class="my-4">
        <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</body>

<form action="@Url.Action("ContarH", "Historias")">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block bg-dark text-white">Añadir Historia</button>
    </div>
</form>

@model IEnumerable<Historia>

<div class="row mb-2">
@foreach (var item in Model) 
{
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card card-signin bg-dark">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white text-center">@Html.DisplayFor(modelItem => item.Titulo)</strong>
          <p class="card-text mb-auto text-white">@Html.DisplayFor(modelItem => item.Historiador)</p>
          <p class="card-text mb-auto text-white">Email del Historiador : @Html.DisplayFor(modelItem => item.EmailHistoriador)</p>
          <hr />
          <p class="card-text text-white" >Desarrollo : @Html.DisplayFor(modelItem => item.Desarrollo)</p>
          <a @Html.ActionLink("Continuar Leyendo", "MostrarH", new { id=item.ID }) >
        </div>
      </div>
    </div>
}
</div>