@model AppSocialTour.Models.Historia

<body class="pantallaHistoria">
<form>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
        <h1  class="card-title text-center">@Html.DisplayFor(model => model.Titulo)</h1>
        <hr />
        <div>
        <dt class = "form-group">Nombre del Historiador o Autor</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Historiador)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Email del Historiador</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.EmailHistoriador)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Paginas que sirvieron de Referencias</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.PaginasReferencia)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Desarrollo de la Hisoria</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Desarrollo)
        </dd>
        </div>
        <hr >
        <div class="form-group">
            <input asp-action="ModificarH" asp-route-id="@Model.ID" type="submit" class="btn btn-outline-primary" value="Reescribir">
        </div>
        <div class="form-group">
            <input asp-action="BorrarH" asp-route-id="@Model.ID" type="submit" class="btn btn-outline-danger" value="Eliminar">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary" asp-action="History" asp-route-id="@Model.ID">Volver</button>
        </div>
    </div>
</div>
</form>
</body>