@model AppSocialTour.Models.Social

@{
    ViewData["Title"] = "EliminarS";
}
<body class="pantallaS">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Turismo Social</h1>
        <hr /> 
        <h5 class="text-center">¿Quieres Eliminar la Publicacion?</h5>

        <div>
        <dt class = "form-group">Nombre del Emprendimiento</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Tipo de Emprendimiento</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Direccion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Horario</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Telefono</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Descripcion del Emprendimiento</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Datos)
        </dd>
        </div>
    </dl>
    
    <form asp-action="EliminarS">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexS" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>