@model AppSocialTour.Models.Promocion

@{
    ViewData["Title"] = "EliminarP";
}
<body class="pantallaP">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Promocion</h1>
        <hr /> 
        <h5 class="text-center">¿Quieres Eliminar la Promocion?</h5>

        <dt class = "form-group">ID de la Promocion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "form-group">Promocion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Promo)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Nombre del Negocio o Emprendimineto</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.NombreNegocio)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Tipo de Negocio o Emprendimiento</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.TipoNegocio)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Direccion</dt>
        <dd class = "for-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Datos de la Promocion</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.DatosPromo)
        </dd>
        </div>
    </dl>
    
    <form asp-action="EliminarH">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexP" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>