@model AppSocialTour.Models.Hotel

@{
    ViewData["Title"] = "EliminarH";
}
<body class="pantallaH">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Hotel</h1>
        <hr /> 
        <h5 class="text-center">¿Quieres Eliminar la Publicacion?</h5>

        <div>
        <dt class = "form-group">Nombre del Hospedaje</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Tipo de Hospedaje</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.TipoEmpresa)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Representante de la Publicacion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Representante)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Direccion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Horario</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Telefono</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Pagina Web del Hospedaje</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.SitioWeb)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Descripcion del Hospedaje</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Datos)
        </dd>
        </div>
    </dl>
    
    <form asp-action="EliminarH">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexH" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>