@model AppSocialTour.Models.Hotel

@{
    ViewData["Title"] = "EliminarH";
}
<body class="pantallaH">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Hotel</h1>
        <hr /> 
        <h3>¿Estas seguro de Eliminar el Hotel?</h3>

        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.SitioWeb)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.SitioWeb)
        </dd>
        <dt class = "form-group">
            @Html.DisplayNameFor(model => model.Datos)
        </dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Datos)
        </dd>
    </dl>
    
    <form asp-action="EliminarH">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexH" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>