@model AppSocialTour.Models.Cultura

@{
    ViewData["Title"] = "EliminarC";
}
<body class="pantallaC">

<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Emprendimiento</h1>
        <hr /> 
        <h5 class="text-center">¿Quieres Eliminar la Publicacion?</h5>

        <div>
        <dt class = "form-group">Nombre</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Categoria</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Direccion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Horario</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Historia</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Historia)
        </dd>
        </div>
    </dl>
    
    <form asp-action="EliminarC">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexC" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>
</body>